doctype html
head
  title Another Me
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
  link(rel="stylesheet", type="text/css", href="css/style.css")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  meta(http-equiv="content-type" content="text/html; charset=UTF-8")  
body
  

    
if usrProfile

  nav.navbar.navbar-default.nav
    .container
      .navbar-header
        a.navbar-brand#logo(href='#') Another me
      ul.nav.navbar-nav
        li
          a(href='/') Home
        li
          a(href='#') Contact us
        li
          a(href='#') About us
        li.active
          a(href='#') Profile
        li
          a(href='/search') Search
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/logout')
            span.glyphicon.glyphicon-log-out.login-link
            |  Logout

  .container
    .rows
      .col-lg-1.space
      .col-lg-2.profilepic
        img(src='images/profile.jpeg' width='60%')
        .profileDetails
          p Welcome back #{usrProfile.firstname} !
          button.btn.btn-default.edit(type='') Edit 
    
        
      
      .col-lg-4.details
        .service(style="display:none")
          img(src='images/serviceProvider.jpg', width= '25%')
          span(style="font-size:20px;") Start Earning money now!
          button.btn.btn-default.seller(type='submit' , onclick='showDetailForms()', id='btnSignUpSeller', style="background-color: skyblue; margin: -64px 2px 2px 180px;") SignUp as seller
        .details1(style="display:block")
          p
            img(src="images/checkmark.png" width='4%')
            |    Car repair € 30,00   
          p
            img(src="images/checkmark.png" width='4%')    
            |    Lay tiles € 25,60    
          p 
            img(src="images/checkmark.png" width='4%')
            |    Pick-up something € 25,60 p/h   


          select.services.form-control.select(name = 'service')
            option(value="select service") Select Service
            option(value="Housekeeper") Housekeeper
            option(value="Electrician") Electrician
            option(value="Gardener") Gardener
            option(value="Courier") Courier
            option(value="Computer Technician") Computer Technician
            option(value="Handyman") Handyman
            option(value="Carpenter") Carpenter
            option(value="Tiler") Tiler
            option(value="Painter") Painter
            option(value="Accountant") Accountant
            option(value="Window Washer") Window Washer
            input(type='number', class="currencyinput", id='price', placeholder='Hourrate')
        .details2
          p
            img(src="images/pointer.png" width='6%') 
            |      #{usrProfile.city} (The Netherlands)  
    
          p 
            img(src="images/wtsapp.jpg" width='5%') 
            |      #{usrProfile.phone} 

      //- .col-lg-1.space
      .col-lg-4.detailsform
         form.input-field1( id='detailsform', autocomplete='off')
            input.input.form-control(type='text', id='firstname', value=usrProfile.firstname, placeholder=`Enter New Firstname` ,autocomplete='off')
            br
            input.input.form-control(type='text', id='lastname', value=usrProfile.lastname, placeholder=`Enter New Lastname`, autocomplete='off')
            br
            input.input.form-control(type='text', id='email', value=value=usrProfile.email, placeholder=`Enter New E-mail` autocomplete='off')
            br
            input.input.form-control(type='text', value=usrProfile.street, id='street', placeholder="Enter Your Streetname" ,autocomplete='off')
            br
            input.input.form-control(type='text', value=usrProfile.housenumber, id='housenumber', placeholder="Enter Your Housenumber",autocomplete='off')
            br
            input.input.form-control(type='text', value=usrProfile.phone, id='phone', placeholder="Enter Your Phone",autocomplete='off')
            br
            input.input.form-control(type='text', value=usrProfile.postalcode, id='postalcode', placeholder="Enter Your Postalcode",autocomplete='off')
            br
            input.input.form-control(type='text', value=usrProfile.city, id='city', placeholder="Enter Your City" ,autocomplete='off')
            br
            input.input.form-control(type='text', placeholder='Enter old password', id='oldPassword')
            br
            input.input.form-control(type='text', placeholder='Enter new password', id='newPassword')
            br
            input.input.form-control(type='text', placeholder='Re-enter new password', id='newPassword2')
            br
            button.btn.btn-default.edit(type='submit' onclick='upgradeAccount()') Save
      .col-lg-1.space

  .container.about
    .rows
      .col-lg-2
      .col-lg-1.space
      .col-lg-8.abouttextArea
        p About Me
        input.aboutMe.form-control(type='textarea', id='aboutMeForm', placeholder='write something about you!')
        button.btn.btn-default.edit(type='submit') Save


  .footer
    .container
      .rows
        div.col-lg-4
          p.copyrights copyrights @ 2017 All rights reserved
        div.col-lg-4
        div.col-lg-4
          a.mediaIcon(href="www.facebook.com" class="fa fa-facebook")
          a.mediaIcon(href="www.twitter.com" class="fa fa-twitter")
          a.mediaIcon(href="www.google.com" class="fa fa-google")

  script.
    const syncUpdateRequest = ()=> {
      $.get("/syncUpdateRequest", { syncUpdateRequest: true}, function( data ) {
      //- $('#firstname').val(data.firstname);
      //- $('#lastname').attr("placeholder",`Lastname: ${data.lastname}`);
      //- $('#email').attr("placeholder",`Email ${data.email}`);
      });
      }
      syncUpdateRequest();



    const checkIfseller = ()=> {
    $.get("/profile", { updateProfile: true}, function( data ) {
    if (data.serviceProvider === true){  
      
      return true    
      }

    });
    }
    
    const showDetailForms = ()=>{
    $("document").ready(()=>{
    $('.detailsform').css({'display':'block'});
    $('.about').css({'display':'block'});
    syncUpdateRequest()
    
    })

      
    }
    
    const upgradeAccount = () =>{
    //- let status= $('#availability')[0].checked;
      $.ajax({
        type: "POST",
        url: '/upgradeUser',
        data: {
        firstname: $('#firstname').val(),
        lastname: $('#lastname').val(),
        email: $('#email').val(),
        street: $('#street').val(),
        housenumber: $('#housenumber').val(),
        postalcode: $('#postalcode').val(),
        city: $('#city').val(),
        phone: $('#phone').val(),
        //- motto: $('#motto').val(),
        //- aboutme: $('#aboutMeForm').val(),
        //- availability: status,
        serviceProvider: true,
        //- service: service(),
        //- price: price()
        },
        success: ()=> {
        alert('DB Updated');
        syncUpdateRequest();
        //- updateProfile();
        $('.detailsform').css({'display':'none'});
        //- updateProfile();
        }
      });
      
      
      //- console.log(status);
    }

  
else 
    h2 You must log in first!
